@if(isLoading){
    <mat-spinner></mat-spinner>

}@else {
    <mat-card>
        <form [formGroup]="form" (submit)="onSavePost()" >
        
            <mat-form-field>
                <input 
                matInput 
                type="text" 
                formControlName="title"
                placeholder="Post Title">
             <mat-error *ngIf="form.get('title').invalid">Please enter post content</mat-error>
            </mat-form-field>

            <div class="buttonArr">
                <button type="button" mat mat-stroked-button (click)="filePicker.click()">select Image</button>
                <input hidden type="file" #filePicker (change)="onImagePick($event)">
            </div>
            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                <img [src]="imagePreview" [alt]="form.value.title">
            </div>
            <mat-form-field>
                <textarea 
                matInput 
                rows="4"
                formControlName="content"
                placeholder="Write content here..." ></textarea>
                <mat-error  *ngIf="form.get('content').invalid">Please enter post content</mat-error>
                
                <button mat-raised-button color="accent" type="submit">Save Post</button>
            </mat-form-field>
        
    </form>
    </mat-card>
    
}
