:host{
    display: block;
    margin-top: 1rem;
}

.Info-text{
    align-items: center;
}
.textColor{
    color:rgb(132, 49, 157);
    font-size: medium;
}

mat-spinner{
    margin: auto;
}
.post-image{
    width: 100%;
}

.post-image img{
width: 50%;
height: 25rem;
}

mat-paginator{
    margin-top: 1rem;
}